.target_server_ip_port {
  font-size: 20px;
  font-weight: bold;
}

.comm_remote_server_ip {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

.tcp_session_header {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

.http_first_line {
  font-size: 15px;
  padding-top: 5px;
}

.title {
  font-weight: bold;
}

.subtitle {
  color: gray;
}

.label {
  color: #777777;
}
