.target_server_ip_port {
  font-size: 18px;
  font-weight: bold;
}

.comm_remote_server_ip {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

.tcp_session_header {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

.http_first_line {
  font-size: 15px;
  padding-top: 5px;
}

.title {
  font-weight: bold;
}

.subtitle {
  color: gray;
}

.label {
  color: #777777;
}

.recent_file_folder {
  color: gray;
  font-size: 12px;
}

.card_protocol_name {
  color: gray;
  font-size: 10px;
}

.card_protocol_name {
  color: gray;
  font-size: 10px;
}

row:selected .card_protocol_name {
  color: white;
  font-size: 10px;
}

.card_stats {
  opacity: 0.4;
}
